/**
 *
 * @miniProject: Get Info Zing Mp3 & NCT
 * @author Del Huá»³nh - fb.com/huynhducuduy
 *
 */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/59ZRklaO5bWGqF5A9baEET8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}
@font-face {
    font-family: 'icomoon';
    src: url("fonts/icomoon.eot");
    src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}
.icon-volume-mute, .icon-play, .icon-pause, .icon-volume-high {
    color: #fff;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-volume-mute:before {
    content: "\e005"}
.icon-play:before {
    content: "\e006"}
.icon-pause:before {
    content: "\e007"}
.icon-volume-high:before {
    content: "\e002"}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.player {
    margin-bottom :10px;
    color: #fff;
    width: 40em;
    height: 4em;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
}
.player .playerControl {
    border-radius: 4px;
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1em;
}
.player .player--play {
    padding: 0.2em;
    border: 1px solid #fff;
    border-radius: 50%}
.player .player--seek {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 1px;
    width: 60%;
    vertical-align: middle;
    display: inline-block;
    -webkit-box-shadow: 0 1px 10px 0 rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0 1px 10px 0 rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 10px 0 rgba(255, 255, 255, 0.8);
}
.player input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    z-index: 5;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.8);
}
.player button {
    background-color: transparent;
    border: 0;
    vertical-align: middle;
    font-size: 1.5em;
    cursor: pointer;
}
.player span {
    width: 4em;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.2em;
}
@keyframes loader {
    50% {
    height: 0.5em;
    opacity: 0.1;
}
}
@-webkit-keyframes loader {
    50% {
    height: 0.5em;
    opacity: 0.1;
}
}
@-moz-keyframes loader {
    50% {
    height: 0.5em;
    opacity: 0.1;
}
}
.lyric {
    position: relative;
    float: center;
    padding: 5px 0px;
    border: #e3e3e3 solid 1px;
    margin: 0;
}
.lyric .pd_lyric {
    line-height: 28px;
    background: transparent url(line_lyric.png) left -5px;
    font-size: 14px;
    font-weight: 300;
    color: #333;
	max-height:none;
	margin-bottom:5px
}
.jumbotron {
	padding: 15px 0 !important;
}
#errorAlert {
	margin-bottom: 0;
	display: none;
}
#result {
	display: none;
}
#loading {
	display: none
}
#resultContainer {
	display: none;
	text-align: center;
}
.img-circle {
	display: none;
}
.imageContainer {
	text-align: center;
}
#mainInfo {
	text-align: center;
	margin-top: 10px;
}
a.noStyle {
	text-decoration: none;
	color:#000;
}
label.control-label {
	font-weight: normal;
}
h2#4lyric {
	margin-top: 10px;
	margin-bottom: 10px;
}
#_divLyricHtml {
	background-color: #fff;
}